<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data Scrape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Data</a></p>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Latest Mars News</h2>
                <h3>{{mars_data.news_title}}</h3>
                {{mars_data.news_p}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2>Featured Mars Image</h2>
                <img src={{mars_data.featured_image_url}} alt="Mars Image from NASA" width = 500 height = 500>
            </div>
            <div class="col-sm-5">
                <br>
                <h3>Mars Facts</h3>
                <table border="1" class="dataframe">
                    <thead>
                        <tr style="text-align: right;">
                            <th></th>
                            <th>Mars</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Equatorial Diameter:</th>
                            <td>6,792 km</td>
                        </tr>
                        <tr>
                            <th>Polar Diameter:</th>
                            <td>6,752 km</td>
                        </tr>
                        <tr>
                            <th>Mass:</th>
                            <td>6.39 × 10^23 kg (0.11 Earths)</td>
                        </tr>
                        <tr>
                            <th>Moons:</th>
                            <td>2 (Phobos &amp; Deimos)</td>
                        </tr>
                        <tr>
                            <th>Orbit Distance:</th>
                            <td>227,943,824 km (1.38 AU)</td>
                        </tr>
                        <tr>
                            <th>Orbit Period:</th>
                            <td>687 days (1.9 years)</td>
                        </tr>
                        <tr>
                            <th>Surface Temperature:</th>
                            <td>-87 to -5 °C</td>
                        </tr>
                        <tr>
                            <th>First Record:</th>
                            <td>2nd millennium BC</td>
                        </tr>
                        <tr>
                            <th>Recorded By:</th>
                            <td>Egyptian astronomers</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <h4>Mars Hemispheres</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for image_url in mars_data.hemisphere_image_urls %}
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src={{image_url.img_url}} alt={{image_url.title}}>
                    <h3>{{image_url.title}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 
</body>

</html>